.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.mainContainer h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    padding: 15px;
}

.mainContainer p {
    font-size: 1.5em;
    padding: 0 10em;
    padding-top: 1em;
}