.main {
    margin-top: 20px;
    margin-bottom: 20px;
}
.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.postTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.postContent {
    font-size: 16px;
    margin-bottom: 20px;
}